
#currentactive{
    background-color: rgb(1, 101, 252);
    
  }
  
  #currentactive a{
    color: white;
  }
  
  body{
    background-color: rgba(172, 172, 179, 0.95);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  ul.titlebar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-bottom: 8px solid rgb(1, 101, 252);
  }
  
  
  
  li a,span{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    border-bottom:2px solid yellow ;
  }
  
  li span:hover {
    background-color: #111;
    border-bottom:2px solid yellow ;
    cursor: pointer;
  }
  
  
  
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 1.5cm;
    right: 0.2cm;
    background-color: #333;
    
  }
  
  
  
  .dropdown-content a:hover {
    background-color: #111;
    border-bottom:2px solid yellow ;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }
  
  .active{
    background-color: rgb(1, 101, 252);
  }
  
  /* ---------------------------------------------------------------- */
  
  .card {
      box-shadow: 0 6px 10px 0 rgba(0,0,1,1);
      transition: 0.8s;
      width: 7cm;
      border-radius: 5px;
      display: inline-block;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgb(1, 101, 252);
      cursor: pointer;
    }
    
    img {
      border-radius: 5px 5px 0 0;
    }
    
    .container {
      padding: 2px 16px;
    }

    .btn{
        background-color:white;
      font-weight: bolder;
        color: rgb(255, 0, 0);
        padding: 8px 16px;
        width: 100%;
     }
    
     .btn:hover{
         cursor: pointer;
         background-color: rgb(204, 0, 0);
         color: white;
     }

     .btnvw{
      background-color:white;
     font-weight: bolder;
      color: rgb(0, 99, 247);
      padding: 8px 16px;
      width: 100%;
   }
  
   .btnvw:hover{
       cursor: pointer;
       background-color: rgb(0, 99, 247);
       color: white;
   }